# Final course

## Assignment 1, task 1

First, lets load and display the csv file downloaded from Wikipedia

In [68]:
import pandas as pd
import numpy as np

df_pc = pd.read_csv('postcodes.csv')
df_pc.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Next, we give the columns the correct names and delete rows, where Borough is not assigned

In [69]:
df_pc = df_pc.rename(columns = {"Postcode":"PostalCode", "Neighbourhood":"Neighborhood"})
df_pc = df_pc[df_pc.Borough != "Not assigned"]
df_pc.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [107]:
jointpc = df_pc.groupby('PostalCode').agg(lambda x:','.join(set(x))).reset_index()
jointpc.loc[jointpc['Neighborhood']=="Not Assigned"] = jointpc.loc[jointpc['Neighborhood']=="Not Assigned",'Borough']
jointpc.head(10)

  PostalCode      Borough                                   Neighborhood
0        M1B  Scarborough                                  Malvern,Rouge
1        M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                Morningside,Guildwood,West Hill
3        M1G  Scarborough                                         Woburn
4        M1H  Scarborough                                      Cedarbrae
5        M1J  Scarborough                            Scarborough Village
6        M1K  Scarborough      Ionview,Kennedy Park,East Birchmount Park
7        M1L  Scarborough                  Golden Mile,Clairlea,Oakridge
8        M1M  Scarborough  Cliffside,Scarborough Village West,Cliffcrest
9        M1N  Scarborough                     Cliffside West,Birch Cliff

In [102]:
print('Size of table:',jointpc.shape)

Size of table: (103, 3)